<% for(var i = 0; i < order.length; i++) { %>
	<% if(order[i].id==id){%>
<div class="Order_Details_style">
<div class="Numbering clearfix">
	<span class="l_f">订单编号:<b class="colorred"><%=order[i].ordernumber%></b></span>
	<span class="r_f">付款时间：<%=timestamp(order[i].Paymenttime,'yyyy-MM-dd hh:mm')%></span>
</div>
</div>
 <div class="detailed_style">
 	
 <!--收件人信息-->
 <% for(var j = 0; j < address.length; j++) { %>
 	<% if(order[i].address==address[j].id){ %>
    <div class="border-line  mb15">
     <div class="title-name text-left">收件人信息</div>
     <div class="info_list clearfix padding10">
        <div class="col-xs-12 col-md-3 content_look">  
         <label class="label_name" > 收件人姓名： </label>
         <div class="info_data"><%=address[j].name%></div>
        </div>
        <div class="col-xs-12 col-md-3 content_look">  
         <label class="label_name" > 收件人电话： </label>
         <div class="info_data"><%=address[j].phone%></div>
        </div>
         <div class="col-xs-12 col-md-3 content_look">  
         <label class="label_name" > 收件地邮编： </label>
         <div class="info_data"><%=address[j].Postalcode%></div>
        </div>
         <div class="col-xs-12 col-md-12 content_look">  
         <label class="label_name" > 收件地址： </label>
         <div class="info_data"><%=address[j].detailsaddress%></div>
        </div>
     </div>
    </div>
    <% } %>
   <% } %>
    <!--订单信息-->
    <div class="border-line mb15">
    <div class="title-name text-left">产品信息</div>
    <div class="Info_style  clearfix">
    	<% for(var j = 0; j < order[i].commodity.length; j++) { %>
      <div class="product_info clearfix">
      <a href="#" class="img_link"><img src="images/product_img/<%=order[i].commodity[j].img%>" /></a>
      <span class="jieshao">
      <a href="#" class="name_link"><%=order[i].commodity[j].name%></a>
      <div class="clearfix color9"><span class="l_f mr15">规格：<%=order[i].commodity[j].format%></span><span>数量：<%=order[i].commodity[j].quantity%></span></div>
      <span>价格：<b class="price"><i>￥</i><%=order[i].commodity[j].price%></b></span>   
      </span>
      </div>
      <% } %>
    </div>
    </div>
    <!--总价-->
    <div class="Total_style border-line mb15">
     <div class="info_list clearfix padding10">
      <div class="col-xs-12 col-md-3 content_look">  
         <label class="label_name " > 支付方式： </label>
         <div class="info_data">在线支付</div>
        </div>
        <div class="col-xs-12 col-md-3 content_look">  
         <label class="label_name" > 支付状态： </label>
         <div class="info_data">
         	<% for(var j = 0; j < status.length; j++) { %>
				<% if(order[i].status==status[j].id){ %>
				<%=status[j].name%>
				<% } %>
				<% } %>
         </div>
        </div>
        <div class="col-xs-12 col-md-3 content_look">  
         <label class="label_name" > 订单生成日期： </label>
         <div class="info_data"><%=timestamp(order[i].ordertime,'yyyy-MM-dd hh:mm')%></div>
        </div>
         <div class="col-xs-12 col-md-3 content_look">  
         <label class="label_name" > 快递名称： </label>
         <div class="info_data"><%=order[i].kuidi%></div>
        </div>
         <div class="col-xs-12 col-md-3 content_look">  
         <label class="label_name" > 发货日期： </label>
         <div class="info_data"><%=timestamp(order[i].Deliverytime,'yyyy-MM-dd hh:mm')%></div>
        </div>
         <div class="col-xs-12 col-md-3 content_look">  
         <label class="label_name" > 快递单号： </label>
         <div class="info_data"><%=order[i].kuidinumber%></div>
        </div>
        </div>
      <div class="Total_m_style plf15">
      	<span class="Total">总数：<b><%=order[i].quantity%></b></span>
      	<span class="Total_price">总价：<b><%=order[i].Totalprice%></b>元</span>
      </div>
    </div>
    <div class="border-line mb15">
    	<div class="title-name text-left">备注信息</div>
    	<div class="padding15">
    		<%=order[i].remark%>
    	</div>
    </div>
    <!--物流信息-->
    <div class="Logistics_style clearfix border-line mb15">
     <div class="title-name text-left">物流信息</div>
      <!--<div class="prompt"><img src="images/meiyou.png" /><p>暂无物流信息！</p></div>-->
       <div data-mohe-type="kuaidi_new" class="g-mohe " id="mohe-kuaidi_new">
        <div id="mohe-kuaidi_new_nucom">
            <div class="mohe-wrap mh-wrap">
                <div class="mh-cont mh-list-wrap mh-unfold">
                    <div class="mh-list">
                        <ul>
                            <li class="first">
                                <p>2015-04-28 11:23:28</p>
                                <p>妥投投递并签收，签收人：他人收 他人收</p>
                                <span class="before"></span><span class="after"></span><i class="mh-icon mh-icon-new"></i></li>
                            <li>
                                <p>2015-04-28 07:38:44</p>
                                <p>深圳市南油速递营销部安排投递（投递员姓名：蔡远发<a href="tel:18718860573">18718860573</a>;联系电话：）</p>
                                <span class="before"></span><span class="after"></span></li>
                            <li>
                                <p>2015-04-28 05:08:00</p>
                                <p>到达广东省邮政速递物流有限公司深圳航空邮件处理中心处理中心（经转）</p>
                                <span class="before"></span><span class="after"></span></li>
                            <li>
                                <p>2015-04-28 00:00:00</p>
                                <p>离开中山市 发往深圳市（经转）</p>
                                <span class="before"></span><span class="after"></span></li>
                            <li>
                                <p>2015-04-27 15:00:00</p>
                                <p>到达广东省邮政速递物流有限公司中山三角邮件处理中心处理中心（经转）</p>
                                <span class="before"></span><span class="after"></span></li>
                            <li>
                                <p>2015-04-27 08:46:00</p>
                                <p>离开泉州市 发往中山市</p>
                                <span class="before"></span><span class="after"></span></li>
                            <li>
                                <p>2015-04-26 17:12:00</p>
                                <p>泉州市速递物流分公司南区电子商务业务部已收件，（揽投员姓名：王晨光;联系电话：<a href="tel:13774826403">13774826403</a>）</p>
                                <span class="before"></span><span class="after"></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>                  
 </div>
   <%}%>
 <%}%>