@import "../common/variables";

button {
  &:focus {
    outline: none;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: .7rem 2.1rem;
  font-size: 1.4rem;
  line-height: 1.429;
  border-radius: 3px;

  &:not([disabled]):not(.disabled).active,
  &:not([disabled]):not(.disabled):active,
  &:not([disabled]):not(.disabled):focus {
    box-shadow: none;
    outline: none;
  }

  &.disabled {
    box-shadow: none;
    outline: none;
  }

  .btn-icon {
    position: relative;
    display: inline-block;
    height: 20px;
    font-size: 16px;
    top: -1px;
  }

  &.icon-right {
    .btn-icon {
      margin-left: 8px;
    }
  }

  &.icon-left {
    flex-direction: row-reverse;

    .btn-icon {
      margin-right: 8px;
    }
  }

  &.btn-rounded {
    border-radius: 2.1rem;
  }

  &.is-loading,
  &.is-loading:hover {
    position: relative;
    color: transparent;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url('../img/loaders/three-dots.svg') no-repeat center center;
      background-size: 40%;
      z-index: 1;
    }
  }
}

.btn-sm {
  padding: .2rem 1.1rem;
  font-size: 1.4rem;

  .btn-icon {
    font-size: 12px;
    height: 14px;
  }
}

.btn-white {
  background-color: $color-white;
  color: $color-black;
  border-color: $color-white;

  &:hover {
    &:enabled {
      background-color: $color-white;
    }
  }

  &:active {
    background-color: $color-white;
  }

  &.disabled,
  &:disabled {
    background-color: $color-white;
  }
}

.btn-gray {
  background-color: #c9ced4;
  color: #fff;
  border-color: #c9ced4;

  &:hover {
    &:enabled {
      color: #fff;
      background-color: darken(#c9ced4, 3%);
    }
  }

  &:active {
    color: #fff;
    background-color: darken(#c9ced4, 7%);
  }

  &.disabled,
  &:disabled {
    color: #fff;
    background-color: #c9ced4;
  }
}

.btn-enabled {
  background-color: #E8F7EE;
  color: #35ae47;
  border-color: #E8F7EE;

  &:hover {
    background: darken(#E8F7EE, 2%);
    border-color: darken(#E8F7EE, 2%);
    color: #35ae47;
  }

  &:active {
    background: darken(#E8F7EE, 5%);
  }

  &.disabled,
  &:disabled {
    background-color: rgba(#35ae47, .05);
  }
}

.btn-disabled {
  background-color: #FEEAED;
  color: #eb3b48;
  border-color: #FEEAED;

  &:hover {
    background: darken(#FEEAED, 2%);
    border-color: darken(#FEEAED, 2%);
    color: #eb3b48;
  }

  &:active {
    background: darken(#FEEAED, 5%);
  }

  &.disabled,
  &:disabled {
    background-color: rgba(#eb3b48, .05);
  }
}

.btn-success {
  background-color: $color-success;
  color: $color-white;
  border-color: $color-success;

  &:hover {
    &:enabled {
      background-color: $color-success-hover;
      border-color: $color-success-hover;
    }
  }

  &:not([disabled]):not(.disabled).active,
  &:not([disabled]):not(.disabled):active,
  &:not([disabled]):not(.disabled):focus {
    background-color: $color-success-hover;
    border-color: $color-success-hover;
    color: $color-white;
    box-shadow: none;
  }

  &.disabled,
  &:disabled {
    background-color: $color-success;
  }
}

.show {
  > .btn-success {
    &.dropdown-toggle {
      background-color: $color-success-hover;
      border-color: $color-success-hover;
      color: $color-white;
      box-shadow: none;
    }
  }
}

.btn-outline-success {
  color: $color-success;
  border-color: $color-success;

  &:not([disabled]):not(.disabled).active,
  &:not([disabled]):not(.disabled):active,
  &:not([disabled]):not(.disabled):focus {
    background-color: $color-success-hover;
    box-shadow: none;
    border-color: $color-success-hover;
    color: #fff;
  }

  &:hover {
    &:enabled {
      background-color: $color-success;
      border-color: $color-success;
    }
  }

  &:active {
    background-color: $color-success-hover;
  }
}

.btn-info {
  background-color: $color-info;
  color: $color-white;
  border-color: $color-info;

  &:hover {
    &:enabled {
      background: $color-info-hover;
      border-color: $color-info-hover;
    }
  }

  &:not([disabled]):not(.disabled).active,
  &:not([disabled]):not(.disabled):focus,
  &:not([disabled]):not(.disabled):active {
    background: $color-info-active;
    border-color: $color-info-active;
    box-shadow: none;
    color: #fff;
  }

  &.disabled,
  &:disabled {
    background-color: $color-info;
  }
}

.show {
  > .btn-info {
    &.dropdown-toggle {
      background: $color-info-active;
      border-color: $color-info-active;
      box-shadow: none;
    }
  }
}

.btn-outline-info {
  color: $color-info;
  border-color: $color-info;

  &:not([disabled]):not(.disabled).active,
  &:not([disabled]):not(.disabled):active,
  &:not([disabled]):not(.disabled):focus {
    background-color: $color-info-active;
    box-shadow: none;
    border-color: $color-info-active;
    color: #fff;
  }

  &:hover {
    &:enabled {
      background-color: $color-info;
      border-color: $color-info;
    }
  }
}

.btn-secondary {
  color: $color-black-light;
  background-color: $color-secondary;
  border-color: $color-gray-medium;

  &:hover {
    &:disabled {
      color: $color-black-light;
      background-color: transparent;
    }

    &:enabled {
      color: $color-black-light;
      background-color: $color-secondary-hover;
      border-color: ($color-gray-medium);
    }
  }

  &:not([disabled]):not(.disabled).active,
  &:not([disabled]):not(.disabled):active,
  &:not([disabled]):not(.disabled):focus {
    color: $color-black-light;
    background: $color-secondary-active;
    border-color: $color-gray-medium;
    box-shadow: none;
  }

  &.disabled,
  &:disabled {
    color: $color-black-light;
    background-color: transparent;
    border-color: #d3d9dd;
  }
}

.show {
  > .btn-secondary {
    &.dropdown-toggle {
      color: $color-black-light;
      background: $color-secondary-active;
      border-color: $color-gray-medium;
      box-shadow: none;
    }
  }
}

.btn-outline-secondary {
  color: $color-black-light;
  border-color: #d3d9dd;

  &:not([disabled]):not(.disabled).active,
  &:not([disabled]):not(.disabled):active,
  &:not([disabled]):not(.disabled):focus {
    background-color: $color-secondary-hover;
    box-shadow: none;
    border-color: #d3d9dd;
    color: $color-black-light;
  }

  &:hover {
    &:enabled {
      color: $color-black-light;
      background-color: $color-secondary-hover;
      border-color: #d3d9dd;
    }
  }

  &.disabled,
  &:disabled {
    border-color: #d3d9dd;
  }
}

.btn-purple {
  background-color: $color-purple;
  color: $color-white;
  border-color: $color-purple;

  &:hover {
    &:enabled {
      background-color: $color-purple-hover;
      border-color: $color-purple-hover;
    }
  }

  &:not([disabled]):not(.disabled).active,
  &:not([disabled]):not(.disabled):active,
  &:not([disabled]):not(.disabled):focus {
    background-color: $color-purple-active;
    color: $color-white;
    box-shadow: none;
    border-color: $color-purple-active;
  }

  &.disabled,
  &:disabled {
    background-color: $color-purple;
  }
}

.btn-outline-purple {
  color: $color-purple;
  background: transparent;
  border-color: $color-purple;

  &:hover {
    &:enabled {
      color: $color-white;
      background-color: $color-purple-hover;
      border-color: $color-purple-hover;
    }
  }

  &:not([disabled]):not(.disabled).active,
  &:not([disabled]):not(.disabled):focus,
  &:not([disabled]):not(.disabled):active {
    color: $color-white;
    background-color: $color-purple-active;
    box-shadow: none;
    border-color: $color-purple-active;
  }
}

.btn-danger {
  background-color: $color-danger;
  color: $color-white;
  border-color: $color-danger;

  &:not([disabled]):not(.disabled).active,
  &:not([disabled]):not(.disabled):focus,
  &:not([disabled]):not(.disabled):active {
    background-color: $color-danger-active;
    color: $color-white;
    box-shadow: none;
    border-color: $color-danger-active;
  }

  &:hover {
    &:enabled {
      background-color: $color-danger-hover;
      border-color: $color-danger-hover;
    }
  }

  &.disabled,
  &:disabled {
    background-color: $color-danger;
  }
}

.btn-outline-danger {
  color: $color-danger;
  border-color: $color-danger;

  &:hover {
    &:enabled {
      background-color: $color-danger;
      border-color: $color-danger;
    }
  }

  &:not([disabled]):not(.disabled).active,
  &:not([disabled]):not(.disabled):active,
  &:not([disabled]):not(.disabled):focus {
    background-color: $color-danger-active;
    border-color: $color-danger-active;
    color: #fff;
  }
}

.show {
  > .btn-danger {
    &.dropdown-toggle {
      background-color: $color-danger-active;
      border-color: $color-danger-active;
      color: #fff;
      box-shadow: none;
    }
  }
}

.btn-primary {
  background-color: $color-primary;
  color: $color-white;
  border-color: $color-primary;

  &:not([disabled]):not(.disabled).active,
  &:not([disabled]):not(.disabled):active,
  &:not([disabled]):not(.disabled):focus {
    background-color: $color-primary-active;
    border-color: $color-primary-active;
    color: $color-white;
    box-shadow: none;
  }

  &:hover {
    &:enabled {
      background-color: $color-primary-hover;
      border-color: $color-primary-hover;
    }
  }

  &.disabled,
  &:disabled {
    background: $color-primary;
    border-color: $color-primary;
  }
}

.show {
  > .btn-primary {
    &.dropdown-toggle {
      background-color: $color-primary-active;
      border-color: $color-primary-active;
      color: $color-white;
      box-shadow: none;
    }
  }
}

.btn-outline-primary {
  color: $color-primary;
  border-color: $color-primary;

  &:hover {
    &:enabled {
      background-color: $color-primary;
      border-color: $color-primary;
    }
  }

  &:not([disabled]):not(.disabled).active,
  &:not([disabled]):not(.disabled):active,
  &:not([disabled]):not(.disabled):focus {
    background-color: $color-primary-active;
    border-color: $color-primary-active;
    color: $color-white;
    box-shadow: none;
  }
}

.btn-warning {
  background-color: $color-warning;
  color: $color-white;
  border-color: (transparent !important);

  &:hover {
    color: $color-white;

    &:enabled {
      background-color: $color-warning-hover;
      border-color: $color-warning-hover;
    }
  }

  &:not([disabled]):not(.disabled).active,
  &:not([disabled]):not(.disabled):active,
  &:not([disabled]):not(.disabled):focus {
    background-color: $color-warning-active;
    color: $color-white;
    box-shadow: none;
    border-color: $color-warning-active;
  }

  &.disabled,
  &:disabled {
    background: $color-warning;
  }
}

.show {
  > .btn-warning {
    &.dropdown-toggle {
      background-color: $color-warning-active;
      color: $color-white;
      box-shadow: none;
      border-color: $color-warning-active;
    }
  }
}

.btn-outline-warning {
  color: $color-warning;
  border-color: $color-warning;

  &:hover {
    &:enabled {
      background-color: $color-warning-hover;
      border-color: $color-warning-hover;
    }
  }

  &:not([disabled]):not(.disabled).active,
  &:not([disabled]):not(.disabled):active,
  &:not([disabled]):not(.disabled):focus {
    background-color: $color-warning-active;
    color: $color-white;
    box-shadow: none;
    border-color: $color-warning-active;
  }
}

.btn-chambray {
  background-color: $color-chambray;
  color: $color-white;
  border-color: $color-chambray;

  &:hover {
    &:enabled {
      background-color: $color-chambray-hover;
      border-color: $color-chambray-hover;
    }
  }

  &:not([disabled]):not(.disabled).active,
  &:not([disabled]):not(.disabled):active,
  &:not([disabled]):not(.disabled):focus {
    background-color: $color-chambray-active;
    border-color: $color-chambray-active;
    color: $color-white;
    box-shadow: none;
  }

  &.disabled,
  &:disabled {
    background-color: $color-chambray;
  }
}

.btn-preloader {
  color: transparent;
  background-image: (url('../img/preloader.svg') !important);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 30%;

  &:hover {
    &:enabled {
      color: transparent;
    }
  }
}

.btn-social {
  font-family: $font-icon;
  font-size: 3.4em;
  line-height: normal;
  border: 0;
  border-radius: 50rem;
  background-color: transparent;
  color: #bfc8cf;
  transition: color $transition;

  &:focus {
    outline: none;
  }

  &:hover {
    &:enabled {
      color: $color-gray-dark;
    }
  }
}

.btn-im {
  &::before {
    content: '\e904';
  }
}

.btn-fb {
  &::before {
    content: '\e900';
  }
}

.btn-tw {
  &::before {
    content: '\e908';
  }
}

.btn-yt {
  &::before {
    content: '\e90c';
  }
}

.btn-pi {
  &::before {
    content: '\e906';
  }
}

.btn-vi {
  &::before {
    content: '\e90a';
  }
}

.btn-g {
  &::before {
    content: '\e902';
  }
}

.btn-lg {
  padding: 11px 2.1rem;
  font-size: 17px;
  line-height: 24px;

  &.btn-rounded {
    border-radius: 48px;
  }
}

.btn-group {
  &.btn-collection {
    .btn {
      &:hover,
      &.active {
        &:enabled {
          color: #939daa;
          background-color: #e9ecf1;
        }
      }
    }
  }

  &.btn-icon-group {
    & > .btn {
      padding: .721rem 1.2rem;
    }
  }

  .btn-icon {
    font-size: 16px;
    position: relative;
    top: -1px;
  }

  > .btn.dropdown-toggle:not(.btn-secondary) {
    &::after {
      color: #fff;
    }
  }
}

.btn-group-lg {
  & > .btn {
    padding: 1.2rem 2rem;
    font-size: 1.4rem;
  }

  &.btn-icon-group {
    & > .btn {
      padding: 1.25rem 1.8rem;
    }
  }

  .btn-icon {
    font-size: 16px;
    position: relative;
    top: -2px;
  }
}

.btn-group-sm {
  & > .btn {
    padding: .2rem 1.1rem;
    font-size: 1.4rem;
  }

  &.btn-icon-group {
    & > .btn {
      padding: .235rem .7rem;
    }
  }

  .btn-icon {
    font-size: 12px;
    top: 2px;
  }
}

.btn-md {
  height: 40px;
}

.btn-group-info {
  &.btn-collection {
    .btn {
      &.active:enabled {
        background: $color-lasur;
        color: #fff;
        border-color: $color-lasur;

        + .btn {
          border-left-color: $color-lasur;
        }
      }
    }
  }
}
