{% extends "./common/layout.html" %}

{% block title %}Breadcrumbs / Universe Admin{% endblock %}

{% block content %}
<div class="container-fluid">
  <h2 class="content-heading">Breadcrumbs</h2>
  <div class="main-container">
    <div class="row">
      <div class="col-5">
        <h3>Breadcrumbs</h3>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">All Chapters</a>
          </li>
          <li class="breadcrumb-item">
            <a href="#">Chapter 1</a>
          </li>
          <li class="breadcrumb-item active">Movie Files</li>
        </ol>
      </div>
    </div>
  </div>
</div>
{% endblock %}

