{% extends "./common/layout.html" %}

{% block title %}E-commerce Navbar / Universe Admin{% endblock %}

{% block navbar %}
  {% include "./common/navbar/ecommerce.html" %}
{% endblock %}

{% block bodyClass %}sidebar-hidden navbar-ecommerce-static{% endblock %}
{% block sidebar %}{% endblock %}

{% block content %}
<div class="container-fluid container-fh">
  <h2 class="content-heading">E-commerce Navbar</h2>
  <div class="main-container container-fh__content">
    content
  </div>
</div>
{% endblock %}

