<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
		<meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="format-detection" content="telephone=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<link href="css/bksystem.css" rel="stylesheet" type="text/css" />
		<link href="font/iconfont.css" rel="stylesheet" type="text/css" />
		<link href="css/module.css" rel="stylesheet" type="text/css" />
		<link href="css/pages.css" rel="stylesheet" type="text/css" />
		<title>产品统计</title>
		<script src="js/jquery-1.9.1.min.js" type="text/javascript"></script>
		<script type="text/javascript" src="js/jquery.easy-pie-chart.min.js"></script>
		<script src="js/template.js" type="text/javascript"></script>
		<script src="js/jquery.nicescroll.js" type="text/javascript"></script>
		<script src="js/HUpages.js" type="text/javascript"></script>
		<!--[if lt IE 9]>
          <script src="js/html5shiv.js" type="text/javascript"></script>
          <script src="js/css3-mediaqueries.js"  type="text/javascript"></script>
        <![endif]-->
	</head>

	<body id="pagestyle" class="backgroundf0">
		<div class="bk-con-message message-section" id="iframe_box">
			<div class="box-module height100b margin0">
				<div class="box-title">产品统计</div>
				<div class="box-content padding15" id="statistics_style">
					<div class="Promp_plate alert-danger mb15">
						<b>提示：</b>卖出产品占其分类产品总额的百分比。<span class="iconfont PrompClose">&#xe627</span>
					</div>
					<div class="hide_style clearfix" id="hide_style">
					</div>
				</div>
			</div>
		</div>
	</body>

</html>
<script id="hidehtml" type="text/html">
	<% for(var i = 0; i < list.length; i++) { %>
	<div class="proportion">
		<div class="easy-pie-chart percentage" data-percent="" data-color="<%=list[i].color%>">
			<span class="percent"><%=list[i].quantity%>/<%=list[i].sales%></span>件
		</div>
		<span class="name"><%=list[i].name%></span>
		<span class="name" style="background: #DDDDDD;">剩余数量：<%=list[i].quantity-list[i].sales%>件</span>
	</div>
	<% } %>
</script>
<script>
	//内页框架
	$(function() {
		$("#pagestyle").Hupage({
			slide: '#breadcrumb',
			padding: 15,
			scrollbar: function(e) {
				e.niceScroll({
					cursorcolor: "#dddddd",
					cursoropacitymax: 1,
					touchbehavior: false,
					cursorwidth: "3px",
					cursorborder: "0",
					cursorborderradius: "3px",
				});
			},
			expand: function(thisBox, settings) {
				settings.scrollbar(
					$(".box-content").css({
						height: $(window).height() - $('.box-title').outerHeight() - (settings.padding * 2)
					})
				); //设置当前页滚动样式
			}
		})
	});
	var lavem=100;//设置产品少于多少是提示补货信息
	//编辑数据
	var defray = function(callback) {
		$.ajax({
			url: "json/products.json",
			type: "GET",
			dataType: 'json',
			success: function(ret) {
				typeof callback == 'function' && callback(ret);
			},
		});
	};
	defray(function(listArr) {
		var listhtml = $('#hide_style');
		var html = template('hidehtml', {
			list: listArr.sort
		});
		listhtml.append(html);
		var data = listArr.sort;
		for(var i = 0; i < data.length; i++) {
			var percent = (Math.round(data[i].sales / data[i].quantity * 10000) / 100).toFixed(2);
			listhtml.find('.percentage').eq(i).attr('data-percent', percent);
			var surplus=data[i].quantity-data[i].sales;
			if(surplus<lavem){
				listhtml.find('.proportion').eq(i).append('<span class="prompt">请及时补充货源<span>');
			}
		}
		var oldie = /msie\s*(8|7|6)/.test(navigator.userAgent.toLowerCase());
		$('.easy-pie-chart.percentage').each(function() {
			$(this).easyPieChart({
				barColor: $(this).data('color'),
				trackColor: '#EEEEEE',
				scaleColor: false,
				lineCap: 'round',
				lineWidth: 10,
				animate: oldie ? false : 3000,
				size: 130
			}).css('color', $(this).data('color'));
		});
	});
</script>