root {display: block;}
html, body, div, label, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, p, blockquote, th, td ,img,textarea{border: 0px;margin: 0px;outline: 0px;padding: 0px;}
fieldset, img { border: 0; }
img { display:inline-block; }
:focus { outline: 0; }
li {display: list-item;text-align: -webkit-match-parent;}
em, i, u {font-style: normal;}
h1, h2, h3, h4, h5, h6 {font-weight: normal; font-family:"Microsoft YaHei" }
abbr, acronym { border: 0; font-variant: normal; }
input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }
code, kbd, samp, tt { font-size:100%; }
input, button, textarea, select { *font-size: 100%;font-family:"Microsoft YaHei";}
ol, ul { list-style: none outside none; }
table { border-collapse: collapse; border-spacing: 0;}
caption, th { text-align: left; }
:link, :visited, ins { text-decoration: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
a{ color: #333}
div {display: block;}
.row{margin-right:0px; margin-left: 0px;}
.margin-top{ margin-top:10px}
.r_f{ float:right}
.l_f{ float:left}
.mleft{ margin-left:10px;}
.margin{ margin:15px;}
.border{ border:1px solid #ddd; padding:10px; height:60px; line-height:36px; margin-bottom:20px; }
.border span{ display:block; height:100%;}
.alert{ margin-top:20px;}
.clearfix:after{
	display: block;
	content: ".";
	height: 0;
	visibility: hidden;
	clear: both;
	font-size: 0;
	line-height: 0;
}
body
{
  padding-bottom: 0;
  background-color: #ffffff;
  min-height: 100%;
  font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif ;
  font-size: 13px;
  color: #393939;
  line-height: 1.5;
}
.page-content {
    background: #fff;
    margin: 0;
    padding:0px 15px;
}
html{overflow-x: hidden; overflow-y: hidden;}
.relative{ position:relative}
.system_logo{ min-height: 60px; padding: 15px 0px;}
.system_logo img {width: 100%}
/************************************颜色值样式属性********************************/
.btn-primary:hover{ background-color: #179DD0 !important}
.btn-primary, .btn-primary:focus {
    background-color: #428bca!important;
    border-color: #428bca;
}
.btn-sm {
    border-width: 4px;
    font-size: 13px;
    padding: 4px 9px;
    line-height: 1.39;
}
.defray_style .defray_list, .Payment_details .bank_style {
    border: 1px solid #dddddd;
}
.type_style .type_title, 
.cover_style .type_title, 
#add_brand .title_name, 
.page_right_style .type_title, 
.admin_info_style .type_title, 
.Competence_add_style .title_name{
    padding-left: 20px;
    font-size: 18px;
    border-bottom: 1px solid #dddddd;
    background: #2a8bcc!important;
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#ffffff),to(#ededed))!important;
    background-image: -webkit-linear-gradient(top,#ffffff,0%,#ededed,100%)!important;
    background-image: -moz-linear-gradient(top,#ffffff 0,#ededed 100%)!important;
    background-image: linear-gradient(to bottom,#ffffff 0,#ededed 100%)!important;
    background-repeat: repeat-x!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#ededed',GradientType=0)!important;
    height: 40px;
    line-height: 40px;
    color: #333333;
    width: 100%;
}
.Resolution .defray_style .defray_list .defray_info {
    width: 300px;
}
.defray_style .defray_list .defray_info {
    font-size: 18px;
    border: 1px solid #dddddd;
    float: left;
    margin-right:20px;
    text-align: center;
    width: 300px;
    height: 395px;
}
.defray_style .defray_list .defray_content .defray_name {
    height: 40px;
    line-height: 40px;
    background-color: #438EB9;
    color: #ffffff;
}
.defray_style .defray_list .defray_content li.name_logo {
    height: 161px;
    border-bottom: 1px solid #dddddd;
}
.defray_style .defray_list .defray_content li.description {
    padding: 10px;
    font-size: 14px;
    color: #999;
    border-bottom: 1px solid #dddddd;
    text-align: left;
    height: 90px;
    line-height: 24px;
    overflow: hidden;
}
.defray_style .defray_list .defray_content li.select {
    padding: 10px 0px;
	font-size: 14px;
    border-bottom: 1px solid #dddddd;
}
/********************支付详细********************/
#add_payment_style li{ float: left; width:150px; margin-bottom:10px;}
#add_payment_style .payment_list{ display:block; border:1px  solid #dddddd; padding:10px;}
#add_payment_style .add_content{ border:1px solid #dddddd; padding:10px; margin:0px 10px; display:none}
#add_payment_style .add_content li{ display:block; margin-bottom:10px; float:none; width:100%; height:100%}
#add_payment_style .add_content li .label_name{ float:left; width:100px; text-align:right; height:32px; line-height:32px;}
#add_payment_style .add_content li  span{ float:left; display:block; width:500px; line-height:32px;}
#add_payment_style .add_content li .form-control{ width:300px; margin-left:10px;}
#add_payment_style .add_content li .form-textarea{width: 400px;height: 100px;resize: none; margin-left: 10px;}
#add_payment_style .add_content li input{ margin-left: 10px;}
.Payment_details{}
.Payment_details .bank_style .title_name{ font-size:16px; height:40px; line-height:40px; border-bottom:1px solid #dddddd; padding:0px 20px;}
.Payment_details .bank_style .bank_list{ padding:10px;}
.Payment_details .bank_style .bank_list li{ width:200px; float:left; margin-bottom:10px; position:relative;}
.Payment_details .bank_style .bank_list li img{ float:left}
.Payment_details .bank_style  .operating{ border-bottom:1px solid #dddddd; padding:10px;}
.Payment_details .bank_style .bank_list li .delete_bank{ display:none; height:30px; position:absolute; right:10px; top:0px;}
.Payment_details .bank_style .bank_list li .delete_bank a{ color:#F33}
.Payment_details .bank_style .Push_button{ text-align:center; display:none}
.Payment_details .bank_style .Push_button.btn_delete,
.Payment_details .bank_style .bank_list .delete .delete_bank{ display:block;}
#add_bankstyle .add_bank_list li{ width:200px; float:left; margin-bottom:10px;}
#add_bankstyle .prompt{ border:1px solid #dddddd; margin:15px; padding:10px; margin-bottom:10px;}
.Payment_details .bank_style .bank_logo  .ace,
.Payment_details .bank_style .bank_logo  input[type=checkbox].ace+.lbl::before,
.Payment_details .bank_style .bank_logo  input[type=radio].ace+.lbl::before{ display:none}
.Payment_details .bank_style .bank_logo  .ace.add,
.Payment_details .bank_style .bank_logo  input[type=checkbox].ace.add+.lbl::before,
.Payment_details .bank_style .bank_logo  input[type=radio].ace.add+.lbl::before{ display:block; width:16px; height:16px; float:left; margin-top:25px}
/*********************品牌详细信息样式属性***********************/
.brand_detailed{}
.brand_detailed .brand_info{ border:1px solid #dddddd; margin-top:30px; position:relative; margin-bottom:20px}
.brand_detailed .title_brand{font-size:18px; color:#F63; background-color:#FFF; position:absolute; top:-20px; left:0px; padding:0px 10px;  text-align:center; height:40px; line-height:40px;}
.brand_detailed .Info_style{ padding:20px 0px;   margin-right:160px; position:relative; left:0px; top:0px;}
.brand_detailed .Info_style li{ width:250px; float:left; height:40px; line-height:40px;}
.brand_detailed .Info_style .b_Introduce{ width:100%; height:auto; position:relative}
.brand_detailed .Info_style .b_Introduce .name{ line-height:24px; margin-left:80px; position:relative; top:-30px;}
.brand_detailed .Info_style li .label_name{ float:left; width:80px; line-height:40px; text-align:right}
.brand_detailed .Info_style li .name{ float:left; line-height:40px; margin-left:5px;}
.brand_detailed .brand_logo{ 
    float:right; 
	border-left:1px solid #DDDDDD; 
	width:160px; 
	padding:10px; 
	top:0px;  
	position:absolute; 
	right:0px;  
	height:100%; 
	text-align:center; 
	display: table-cell;
	*display: block;
	vertical-align:middle;
    *font-family:Arial;
 }
.brand_detailed .brand_logo img{ vertical-align:middle;}
.brand_detailed .brand_logo .name{ background-color: #F63; color:#FFF; padding:5px; margin-top:10px; }
.b_products_list{ border:1px solid #dddddd; position:relative}
.b_P_Sort_list li{ line-height:34px; margin-left:10px;}
.b_P_Sort_list li .grey,
.b_P_Sort_list li .orange{ margin-right:5px;}
/**********支付配置***********/
.Configure_style{}
.Configure_style .manner{}
.Configure_style .manner .title_name{ height:40px; padding:0px 20px; line-height:40px; font-size:16px; color:#ffffff; background-color:#438eb9}
.Configure_style .table th{ border-bottom:0px; text-align: center}
.Configure_style .table th,
.Configure_style .table.table-bordered tbody tr td{ font-family: "Microsoft YaHei"}
.Configure_style .title_name{	
	height:40px; 
	border:1px solid #dddddd; 
	line-height:40px; 
	font-size:16px; 
	padding:0px 20px;
	background: #2a8bcc!important;
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#ffffff),to(#ededed))!important;
    background-image: -webkit-linear-gradient(top,#ffffff,0%,#ededed,100%)!important;
    background-image: -moz-linear-gradient(top,#ffffff 0,#ededed 100%)!important;
    background-image: linear-gradient(to bottom,#ffffff 0,#ededed 100%)!important;
    background-repeat: repeat-x!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#ededed',GradientType=0)!important;
}
.Configure_style .Other_style .deploy{ width:260px; border:1px solid #dddddd; margin-right:10px; float:left; text-align:center}
.Configure_style .Other_style .deploy .name{ 
	height:30px;
	line-height:30px;
	border-bottom:1px solid #dddddd;
	background: #2a8bcc!important;
	background-image: -webkit-gradient(linear,left 0,left 100%,from(#ffffff),to(#ededed))!important;
	background-image: -webkit-linear-gradient(top,#ffffff,0%,#ededed,100%)!important;
	background-image: -moz-linear-gradient(top,#ffffff 0,#ededed 100%)!important;
	background-image: linear-gradient(to bottom,#ffffff 0,#ededed 100%)!important;
	background-repeat: repeat-x!important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#ededed',GradientType=0)!important;
}
.Configure_style .Other_style .deploy  .operating{ padding:10px; border-bottom:1px solid #dddddd;}
.Configure_style .Other_style .deploy .info{ color:#999; padding:10px;min-height: 132px; }
.Configure_style .Other_style .deploy .Reply_style{ display:none; border:1px solid #dddddd; margin-top:10px; text-align:left}
.Configure_style .Other_style .deploy .Reply_style .title{ border-bottom:1px solid #dddddd; display:block; height:30px; background-color:#dddddd; line-height:30px; text-align:center}
.Configure_style .Other_style .deploy .Reply_style p{ padding:5px 10px}
#products_list .table_menu_list{ float:right; margin-left:230px;overflow:auto; position:absolute}
#products_list .table_menu_list.Widescreen{ width:100%; margin-left:0px}
#products_list {
	overflow: hidden;
    position: relative;
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
}
.Resolution .h_products_list .table_menu_list.Widescreen table,
.Resolution .h_products_list .table_menu_list table,
.Resolution .order_style .search_style{ width:1366px}
/**************添加产品信息样式***************/
#add_picture{ padding:0px 0px; margin:0px;}
#add_picture .page_right_style{ overflow: auto; position:fixed;left:220px; }
#add_picture .page_right_style.Widescreen{ left:0px}
#form-article-add{ padding:20px 0px;}
#form-article-add .cl{ margin-bottom:15px; position:relative; min-height:35px; width:100%; left:0px}
#form-article-add .cl .form-label{ line-height:35px; width:100px;}
#form-article-add .cl .Add_p_s .form-label{}
#form-article-add .cl .Add_p_s{ width:240px; position:relative; min-height:35px; float:left; margin-bottom:15px;}
#form-article-add .cl .Add_p_s .input-text,
#form-article-add .cl .Add_p_s .select{width:85%; margin-right:5px;}
#form-article-add .formControls{ width: auto; margin-left:20px; top:0px; float:left}
#form-article-add .formControls.col-10{ position:relative; width:90%; margin-left:10px}
#form-article-add .formControls.col-10 textarea{ margin-left:0px; width:100%; height:250px;}
#form-article-add .formControls.w_txt{ width:500px;}
#form-article-add .cl .input-text,
#form-article-add .cl .select{ width:100%; margin-left:0px}
#form-article-add .cl .input-text.Wdate{ width:200px;}
#form-article-add .cl .Add_p_s .formControls { position:absolute; top:0px; z-index:11; left:90px; width:59%}
.Button_operation{ width:360px; margin-left:auto; margin-right:auto}
/*******************************产品类型样式属性******************************************/
.left_Treeview{ position:relative; float:left}
.page_right_style{ float:right; position:absolute; height:100%;}
.page_right_style.Widescreen{ left:0px}
.show_btn {display: none;position: fixed;z-index: 1111;top:50%}
.show_btn span {
	background: url(../images/indexhead_sprite.png) -46px -30px no-repeat;
	width: 25px;
	height: 100px;
	overflow: hidden;
	float: left;
	cursor: pointer;
	position: absolute;
	left: 0px;
}
.side_title span {
	background: url(../images/indexhead_sprite.png) -14px -30px no-repeat;
	width: 25px;
	height: 40px;
	overflow: hidden;
	float: left;
	cursor: pointer;
	position: absolute;
	right: 0px;
	top: 50%;
	z-index:111;
}
.type_style{}
.type_style .type_title,
.cover_style .type_title,
#add_brand .title_name,
.page_right_style .type_title,
.admin_info_style .type_title,
.Competence_add_style .title_name{
	padding-left:20px;
	font-size:18px;
	border-bottom:1px solid #dddddd;
    background: #2a8bcc!important;
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#ffffff),to(#ededed))!important;
    background-image: -webkit-linear-gradient(top,#ffffff,0%,#ededed,100%)!important;
    background-image: -moz-linear-gradient(top,#ffffff 0,#ededed 100%)!important;
    background-image: linear-gradient(to bottom,#ffffff 0,#ededed 100%)!important;
    background-repeat: repeat-x!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#ededed',GradientType=0)!important;
	height:40px; line-height:40px;
	color:#333333;
	 width:100%	
}
.type_style .type_content{ width:500px; margin-left:auto; margin-right:auto; margin-top:50px;}
.type_style .type_content .Operate_btn { border:1px solid #dddddd; padding:10px 0px; text-align:center}
.form-label{ float:left; width:80px;text-align:right;}
.formControls{ float:left; width:250px; margin-left:10px; }
.formControls textarea{ width:390px; height:100px; resize: none  }
.Operate_cont{ padding:10px;}
.h_products_list .table_menu_list{ float:right; margin-left:230px;overflow:auto; position:absolute}
.h_products_list .table_menu_list.Widescreen{ width:100%; margin-left:0px}
.h_products_list {
	overflow: hidden;
    position: relative;
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	border-bottom:1px solid #dddddd;
}

.Resolution .h_products_list .table_menu_list.Widescreen table,
.Resolution .h_products_list .table_menu_list table,
.Resolution .order_style .search_style{ width:1366px}
.h_products_list .products_title{height: 40px; background: #438EB9; color: #FFFFFF; line-height: 40px; text-align: center;}
.h_products_list .table-bordered>thead>tr>th{ height:29px; line-height: 29px;}
