@charset "utf-8";
body{
	background: url(images/QixiB-bright.png) repeat-x left top;
}
.animation{
	position:absolute;
	top:400px;
	animation: boys-walk 10s linear infinite  ;
}
@keyframes boys-walk{	
	100%{
		transform: translateX(2000px);
	}
}

.bird{
	background:url(images/bird.png);
	width: 91px;
    height: 71px;
	transform: rotateY(180deg);
	animation:bird-slow 400ms steps(1,start) infinite;
}

@keyframes bird-slow {
        0% {
            background-position: -182px 0px;
        }
        50% {
            background-position: 0px 0px;
        }
        75% {
            background-position: -91px 0px;
        }
        100% {
            background-position: -182px 0px;
        }
	}

.boy{
	background:url(images/boy-walk.png);
	display: inline-block;
	width:151px;
	height:291px;
	position:relative;
	left:30%;
	animation: boy-walk 400ms steps(3,start) infinite  ; 
}
@keyframes boy-walk {
	   0%{
	   	background-position: 0 0;
	   }
	   100% { background-position: -300% 0; }
	}